{% extends 'base.html.twig' %}

{% block title %}Produit
{% endblock %}
{% block header %}
	{% include "header.html.twig" %}
{% endblock %}
{% block Content %}
	<div class="row">
		<div class="col s12 m12 l12">
			<div class="card-panel teal">
				<h2 class="white-text">
					Product
				</h2>
				<table class="responsive-table striped centered">
					<tbody>
						<tr>
							<th>#</th>
							<td>{{ product.slug }}</td>
						</tr>
						<tr>
							<th>Name</th>
							<td>{{ product.name }}</td>
						</tr>
						<tr>
							<th>Description</th>
							<td>{{ product.description }}</td>
						</tr>
						<tr>
							<th>Price</th>
							<td>{{ product.price }}</td>
						</tr>
						<tr>
							<th>Rpp</th>
							<td>{{ product.rpp }}</td>
						</tr>
						<tr>
							<th>Quantité</th>
							<td>{{ product.quantity }}</td>
						</tr>
						<tr>
							<th>Image</th>
							<td>
								<img width="50" src="{{ asset('uploads/images/' ~ product.imageName) }}"/>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="row">
				<div class="col s12 m12 l12">
					<a href="{{ path('app_product_index') }}" class="btn-floating indigo darken-4">
						<i class="material-icons right">arrow_back</i>Retour à la liste
					</a>
					<a href="{{ path('app_product_edit', {'slug': product.slug}) }}" class="btn-floating  light-green accent-4">
						<i class="material-icons right">create</i>Editer le produit
					</a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block footer %}
	{% include "footer.html.twig" %}
{% endblock %}
