<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}PCS|
			{% endblock %}
		</title>
		<!-- Custom CSS-->
		<link
		href="{{asset('css/style.css')}}" rel="stylesheet" type="text/css">
		<!-- Materialise CSS-->
		<link
		href="{{asset('css/materialize.min.css')}}" rel="stylesheet" type="text/css">
		<!-- Material Icons -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"> {% block stylesheets %}{% endblock %}{% block javascripts %}{% endblock %}
		</head>
		<body>
			{% block body %}
				{% block header %}{% endblock %}
				{% block Content %}{% endblock %}
				{% block footer %}{% endblock %}
			{% endblock %}
			<!-- Custom JS-->
			<script src="{{asset('js/script.js')}}"></script>
			<!-- Jquery JS-->
			<script src="{{asset('js/jquery-3.7.1.min.js')}}"></script>
			<!-- Materialise JS-->
			<script src="{{asset('js/materialize.min.js')}}"></script>
		</body>
	</html>
